body{
background-color: rgb(0, 21, 255);
color: rgb(255, 0, 166);
font-family: "Noto Sans JP", sans-serif;
}
header{
     font-size: 50px;
border:dashed 10px pink;
    }
h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}